body{
  background: linear-gradient(to right, #2c003e, #5a1fa0, #8a2be2);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container{
  text-align: center;
  background-color: rgba(75, 0, 130, 0.8);
  border-radius: 10px;
  padding: 2rem;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  max-width: 90%;
  
  
}
h2{
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  color: #f5f5f5;
}
label{
  display: block;
  margin: 5px 0;
  font-weight: bold;
  color: gray;
}
input, textarea{
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  padding: 11px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus{
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #e6e6fa;
  color: black;
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
  outline: none;
}
textarea{
  min-height: 120px;
}
button {
  text-align: center;
  background-color: midnightblue;
  color: white;
  font-size: 18px;
  padding: 11px;
  border-radius: 8px;
  width: 70%;
  display: block;
  margin: auto;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}
button:hover{
  background-color: purple;
  box-shadow:0 4px 20px rgba(0,0,0,0.3);
  transform: scale(1.05);
}



