table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

th {
  background: linear-gradient(#bfefff, #9adfff);
  font-weight: bold;
  font-size: 18px;
}

tr {
  transition: background-image 0.3s ease;
  border-bottom: 2px solid white;
}

tr[class="read"] {
  background-image: linear-gradient(#4facfe, #00f2fe);
}

tr[class="to-read"] {
  background-image: linear-gradient(#f7971e, #ffd200);
}

tr[class="in-progress"] {
  background-image: linear-gradient(#a18cd1, #fbc2eb);
}

span[class="status"] {
  border-radius: 999px;
  font-weight: bold;
  text-align: center;
  min-width: 90px;
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid black;
  background-image: linear-gradient(#f7971e, #ffd200);
}

tr[class="read"] span[class="status"] {
  border: 2px solid black;
  background-image: linear-gradient(#4facfe, #00f2fe);
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid black;
  background-image: linear-gradient(#a18cd1, #fbc2eb);
}

span[class="status"],
span[class^="rate"] {
  width: 20px;
  height: 20px;
  padding: 10px 5px;
}

span[class^="rate"] > span {
  border: 2px solid black;
  border-radius: 50%;
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

span[class~="one"] > span:first-child {
  background-image: linear-gradient(#4facfe, #00f2fe);
}

span[class~="two"] > :nth-child(-n + 2) {
  background-image: linear-gradient(#f7971e, #ffd200);
}

span[class~="three"] span {
  background-image: linear-gradient(#a18cd1, #fbc2eb);
}
